<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
{{- partial "base/head.html" . -}}
<body>
    {{- partial "base/header.html" . -}}
    {{- partial "desktop/desktop-side.html" . -}}
    <noscript>
        <h1>Este site precisa do Javascript ativado.</h1>
    </noscript>
    <main id="{{ if .IsHome }}home-main{{ else if eq .Page.Kind "section" }}section-main{{ else }}single-main{{ end }}">
        {{- partial "page-title.html" . -}}
        <div id="content">
            {{- block "main" . }}{{- end }}
        </div>
    </main>
    {{- partial "base/footer.html" . -}}
</body>

</html>
