<!DOCTYPE html>
<html>
{{- partial "base/head.html" . -}}
<body>
    <noscript>
        <h1>Este site usa Javascript.</h1>
    </noscript>
    {{- partial "base/header.html" . -}}
    {{- partial "desktop-side.html" . -}}
    <main id="{{ if .IsHome }}home-main{{ else if eq .Page.Kind "section" }}section-main{{ else }}single-main{{ end }}">
        {{ if .IsHome }}
        <div class="home-top-panel">
            <div class="panel-inner-wrapper">
                <span class="welcome">Welcome to</span>
                <a href="/" class="home-title">{{ .Site.Title }}</a>{{ with .Site.Params.site_subtitle }},{{ end }}
            </div>
            {{ with .Site.Params.site_subtitle }}<span class="home-subtitle">{{ . | markdownify }}</span>{{ end }}
            {{ $artcount := len (where .Site.RegularPages "Section" "==" "w") }}
            <div class="article-count">
                <a href="/w/">{{ $artcount }}</a>&nbsp;articles in {{ upper .Site.Language.Lang }}
            </div>
        </div>
        {{ else }}
        <h1 class="outer-header">{{ .Page.Title }}</h1>
        {{ if not .IsHome }}{{- partial "mobile-single-top-bar.html" . -}}{{ end }}
        {{ end }}
        <div id="content">
            {{- block "main" . }}{{- end }}
        </div>
    </main>
    {{- partial "base/footer.html" . -}}
</body>

</html>
