{{ define "main" }}

{{ if eq .Page.Kind "term"}}
{{ $meta := index .Site.Data.termMetadata .Page.Data.Term }}
<p>{{ $meta.desc }}</p>
{{ end }}

<p>{{ len .Data.Pages }} páginas nesta lista.</p>

{{ if eq .Page.Kind "taxonomy"}}
<ul>
  {{ range $index, $item := .Data.Pages.ByTitle }}
  {{ $nitems := len .Data.Pages }}
  <li><a href="{{ $item.Permalink }}">{{ $item.Title }}</a> ({{ $nitems }} itens)</li>
  {{ end }}
</ul>
{{ else }}
  <div class="letter-groups">
  <!-- create a list with all uppercase letters -->
  {{ $letters := split "ABCDEFGHIJKLMNOPQRSTUVWXYZ" "" }}
  <!-- range all pages sorted by their title -->
  {{ range $index, $item := .Data.Pages.ByTitle }}
    <!-- get the first character of each title. Assumes that the title is never empty! -->
    {{ $firstChar := substr $item.Title 0 1 | upper }}
    <!-- in case $firstChar is a letter -->
    {{ if $firstChar | in $letters }}
      <!-- get the current letter -->
      {{ $curLetter := $.Scratch.Get "curLetter" }}
      <!-- if $curLetter isn't set or the letter has changed -->
      {{ if ne $firstChar $curLetter }}
        <!-- update the current letter and print it -->
        {{ $.Scratch.Set "curLetter" $firstChar }}
        {{ if ne $index 0 }}</div>{{ end }}
        <div class="letter-group">
        <h3>{{ $firstChar }}</h3>
      {{ end }}
      <ul><li><a href="{{ $item.Permalink }}">{{ $item.Title }}</a></li></ul>
      {{ end }}
    {{ end }}
  </div>
  {{ end }}
  </div>
{{ end }}