{{ define "main" }}
    {{ $context := . }}
    {{ range .Site.Pages }}
        {{ $locationlink := .Permalink }}
        {{ $locationtitle := .Title }}
        {{ $hrefslice := findRE `href=[\'"]?\/([^\'" >]+)` .Content }}
        {{ range $hrefslice }}
            {{ $rel := strings.TrimPrefix "href=\"" . }}
            {{ if not (in $rel ".") }}
                {{ if in $rel "#" }}
                    {{ $id := printf "#%s" (index (split $rel "#") 1) }}
                    {{ $rel = replace $rel $id "" }}
                {{ end }}
                {{ $scratch := $context.Scratch.Get "todo" }}
                {{ $scratch = merge $scratch (dict $rel (slice $locationtitle $locationlink)) }}
                {{ $context.Scratch.Set "todo" $scratch }}
            {{ end }}
        {{ end }}
    {{ end }}
    {{ $table := .Scratch.Get "todo" }}
    <table>
        <tr>
            <th>A Fazer</th>
            <th>Referenciado em</th>
        </tr>
    {{ range $todo, $meta := $table }}
    <tr>
    <td>{{ $todo }}</td>
    <td><a href="{{ index $meta 1 }}">{{ index $meta 0 }}</a></td>
    </tr>
    {{ end }}
    </table>

{{ end }}