<div class="desktop-header">
    <div class="left-navigation">
        <nav class="main-page tabs">
            <div>
                <ul>
                    <li>
                        <span>
                            {{ if eq .Page.Kind "home" }}
                            Página Principal
                            {{ else if eq .Page.Kind "page" }}
                            Artigo
                            {{ else if or (eq .Page.Kind "taxonomy") (eq .Page.Kind "term") }}
                            {{ .Page.Data.Singular | humanize }}
                            {{ end }}
                        </span>
                    </li>
                    <li>
                        <a href="{{ .Site.Params.repo_link}}/issues" target="_blank"
                            rel="noopener noreferrer">Discussão</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="rigth-navigation">
        <nav class="edit tabs">
            <div>
                <ul>
                    <li>
                        {{ with .File}}
                        {{ $editlink := printf
                        "https://github.com/incelwikibrasil/incelwikibrasil.github.io/tree/main/content/%s" (replace
                        .Path "\\" "/") }}
                        <a href="{{ $editlink }}" target="_blank" rel="noopener noreferrer">Editar</a>
                        {{ end }}
                    </li>
                    <li>
                        <a href="https://incels.wiki/w/Special:ActiveUsers" target="_blank"
                            rel="noopener noreferrer">Autores Originais</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="searchContainer">
            <input type="text" name="s" placeholder="Buscar na {{ .Site.Title }}" id="searchInputDesktop" autocomplete="off">
            <ul id="searchResultsDesktop">
            </ul>
        </div>
    </div>
</div>