<div class="desktop-header">
    <div class="left-navigation">
        <nav class="main-page tabs">
            <div>
                <ul>
                    <li>
                        <a href="{{ .Page.Permalink }}">
                            {{ .Page.Kind | humanize }}
                        </a>
                    </li>
                    <li>
                        <a href="{{ .Site.Params.repo_link}}/issues" target="_blank" rel="noopener noreferrer">Discussão</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="rigth-navigation">
        <nav class="edit tabs">
            <div>
                <ul>
                    <li>
                        {{ $editlink := printf "https://github.com/incelwikibrasil/incelwikibrasil.github.io/tree/main/content/%s" (replace .Path "\\" "/") }}
                        <a href="{{ $editlink }}" target="_blank" rel="noopener noreferrer">Editar</a>
                    </li>
                    <li>
                        <a href="https://incels.wiki/w/Special:ActiveUsers" target="_blank" rel="noopener noreferrer">Autores Originais</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="search-container">
            <form action="" id="" autocomplete="off">
                <div>
                    <input type="text" name="s" placeholder="Buscar {{ .Site.Title }}" id="search-query"
                        autocomplete="off">
                    <button id="search-button"></button>
                </div>
            </form>
        </div>
    </div>
</div>