<div class="desktop-head">
    <div class="left-nav">
        <nav class="main-page tabs">
            <ul>
                <li>
                    <a href="/">Main page</a>
                </li>
                <li>
                    <a href="/">Discussion</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="rigth-nav">
        <nav class="edit tabs">
            <ul>
                <li>
                    <a href="/">Edit</a>
                </li>
                <li>
                    <a href="/">Edit source</a>
                </li>
            </ul>
        </nav>
        <div class="search-container">
            <form action="" id="">
                <input name="s" placeholder="Search Incel Wiki" id="search-query">
                <button type="submit" id="search-button"></button>
            </form>
        </div>
    </div>
</div>