<footer>
    {{ if not (eq .Page.Kind "section") }}
    {{ $editlink := printf "%s/commits/main/content/%s" (.Site.Params.repo_link) (replace .Page.File.Path "\\" "/") }}
    {{ if .IsHome }}
    {{ $editlink = printf "%s/blob/main/themes/wiki-theme/layouts/%s" (.Site.Params.repo_link) (replace .Page.File.Path "\\" "/") }}
    {{ end }}
    <a href="{{ $editlink }}" class="last-modified" target="_blank" rel="noopener noreferrer">
        <div class="last-mod-inner-wrapper">
            <i class="icon clock"></i>
            <span>Ver histórico desta página no Github.</span>
            <i class="icon chevron-footer"></i>
        </div>
    </a>
    {{ end }}
    <div class="footer-content">
        <div class="footer-site-title">{{ .Site.Title }}</div>
        {{- with .Site.Menus.footer -}}
        <div class="footer-menu">
            {{- range $index, $item := . -}}
            <a href="{{ .URL }}" title="{{ .Title }}">{{- if gt $index 0 -}}&nbsp;&bull;&nbsp;{{- end -}}{{ .Name | markdownify }}</a>
            {{- end -}}
        </div>
        {{- end -}}
    </div>

    {{ $code := resources.Get "/js/code.js" | resources.Fingerprint "sha512" }}
    <script type="text/javascript" src="{{ $code.RelPermalink }}" integrity="{{ $code.Data.Integrity }}" defer></script>
</footer>