<div class="mobile-header">
    <div id="left-wrapper">
        <div id="nav-button-wrapper">
            <input type="checkbox" id="menu-input" role="button">
            <label class="icon hamb" id="hamb-label" for="menu-input"></label>
            <div id="menu-list">
                {{ with .Site.Menus.mobile_sidebar }}
                <ul class="main-list">
                {{ range . }}
                    <li><a href="{{ .URL }}" {{ with .Params.id }}id="{{ . }}"{{ end }}>{{ .Pre }}{{ .Name }}</a></li>
                {{ end }}
                </ul>
                {{ end }}

                {{ with .Site.Menus.mobile_sidebar_footer }}
                <ul class="menu-footer-list">
                {{ range . }}
                    <li><a href="{{ .URL }}">{{ .Pre }}{{ .Name }}</a></li>
                {{ end }}
                </ul>
                {{ end }}
            </div>
            <label class="menu-mask" for="menu-input"></label>
        </div>
        <a href="/">{{ .Site.Title }}</a>
    </div>
    <i class="icon mag"></i>
</div>