body {
    margin: 0;
    font-family: -apple-system, blinkmacsystemfont, segoe ui, roboto, lato, helvetica, arial, sans-serif;
    line-height: 1.4;
    background-color: #ffffff;
    color: #202122;
    margin: 0;

    noscript {
        text-align: center;
    }

    a {
        color: #3366cc;
        text-decoration: none;
        background: none;
    }

    div,
    span,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    blockquote,
    pre,
    a,
    abbr,
    acronym,
    address,
    big,
    cite,
    code,
    del,
    ins,
    em,
    img,
    small,
    strike,
    strong,
    sub,
    sup,
    tt,
    b,
    u,
    i,
    center,
    dl,
    dt,
    dd,
    ol,
    ul,
    li,
    fieldset,
    form,
    label,
    legend,
    input,
    button,
    select,
    audio,
    video {
        margin: 0;
        padding: 0;
        border: 0;
        font: inherit;
        font-size: 100%;
        vertical-align: baseline;
        background: none;
    }

    p {
        margin-top: 0;
    }

    h1 {
        font-size: 1.7em;
    }

    .content h1,
    .content h2 {
        font-family: 'Linux Libertine', 'Georgia', 'Times', serif;
    }

    .icon::before {
        content: '';
        display: inline-block;
        width: 1.25em;
        height: 1.25em;
        background-repeat: no-repeat;
        background-size: 1.25em 1.25em;
        background-position: center;
    }

    .icon {
        color: #54595d;
        font-size: initial;
        position: relative;
        display: inline-block;
        box-sizing: content-box !important;
        width: 1.25em;
        height: 1.25em;
        min-width: 1.25em;
        min-height: 1.25em;
        flex-basis: 1.25em;
        vertical-align: middle;
        line-height: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        background-color: transparent;
        margin: 0;
        padding: 0;
    }

    .button {
        background-color: #f8f9fa;
        color: #202122;
        display: inline-block;
        box-sizing: border-box;
        margin: 0;
        border: 1px solid #a2a9b1;
        border-radius: 2px;
        cursor: pointer;
        vertical-align: middle;
        font-family: inherit;
        font-size: 1rem;
        font-weight: bold;
        line-height: 1.28571429rem;
        text-align: center;
        min-height: 32px;
        min-width: 4rem;
        max-width: 28.75em;
        padding: 5px 12px;
    }

    .button:not(:disabled) {
        transition: background-color 100ms, color 100ms, border-color 100ms, box-shadow 100ms;
    }

    .button:not(:disabled):active {
        background-color: #c8ccd1;
        color: #000000;
        border-color: #72777d;
        box-shadow: none;
    }

    .button:not(:disabled):hover {
        background-color: #ffffff;
        color: #404244;
        border-color: #a2a9b1;
    }

    .button:not(:disabled):focus {
        color: #202122;
        border-color: #3366cc;
        box-shadow: inset 0 0 0 1px #3366cc, inset 0 0 0 2px #ffffff;
        outline-width: 0;
    }
}

.home-main {
    .home-top-panel {
        margin-bottom: .5rem;
        text-align: center;
        background-color: #f9f9f9;
        border: 1px solid #ddd;
        padding: 1rem;

        &>*:last-child,
        &>*:nth-last-child(2) {
            margin-top: .5rem;
        }

        .panel-inner-wrapper {
            width: 100%;
            font-size: 160%;
            color: #000;
            padding: .1rem;
        }

        .article-count {
            font-size: 85%;
        }
    }

    #content {
        background-color: #ffffff;
        border-top: 1px solid transparent;

        .panels {
            margin-bottom: -.5rem;

            .panel {
                padding: .5em;
                margin-bottom: .5rem;

                .panel-title {
                    margin-bottom: .5em;
                    padding: 0.2em 0.4em;
                    font-weight: bold;
                    font-size: 120%;
                }

                .panel-content {
                    &>p:last-child {
                        margin-bottom: 0;
                    }

                    ul {
                        padding-left: 2rem;
                    }
                }
            }
        }

        .fig-wrapper {
            margin: auto;

            .fig {
                max-width: 100%;
                height: auto;
            }

            .fig-caption {
                font-size: .8125em;
            }
        }
    }
}

@media only screen and (max-width: 1199px) {
    body {
        header {
            background-color: #eaecf0;
            border: 0;
            box-shadow: inset 0 -1px 3px #00000014;

            .mobile-header {
                margin: 0 .5rem;
                height: 3.375em;
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: .5rem;

                #left-wrapper {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;

                    .hamb::before {
                        background-image: linear-gradient(transparent, transparent), url("/images/menu.svg");
                    }

                    .hamb {
                        cursor: pointer;
                        padding: .5rem;
                    }

                    &>a {
                        margin-left: 0.3125rem;
                        font-weight: normal;
                        text-decoration: none;
                        color: #202122;
                        opacity: .66;
                    }
                }

                .mag::before {
                    background-image: linear-gradient(transparent, transparent), url("/images/search.svg");
                }

                .mag {
                    cursor: pointer;
                    padding: .5rem;
                }
            }
        }

        main {
            margin: 0 1rem;
            margin-bottom: .5rem;

            .outer-header {
                font-family: linux libertine, georgia, times, serif;
                margin-bottom: .6875rem;
            }
        }

        .single-main {
            .mobile-single-top-bar {
                border-top: 1px solid #eaecf0;
                border-bottom: 1px solid #c8ccd1;
                margin-bottom: .5rem;

                &>ul {
                    display: flex;
                    height: 3rem;
                    justify-content: space-between;

                    li {
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;
                        overflow: hidden;

                        a, span {
                            display: flex;
                            align-items: center;
                            color: #54595d;
                            padding: 0.75rem;
                            cursor: pointer;
                            font-size: 0;

                            .lang::before {
                                background-image: linear-gradient(transparent, transparent), url("/images/language.svg");
                            }

                            .download::before {
                                background-image: linear-gradient(transparent, transparent), url("/images/download.svg");
                            }

                            .edit::before {
                                background-image: linear-gradient(transparent, transparent), url("/images/edit.svg");
                            }
                        }
                    }

                    &>li:first-child {
                        flex-grow: 1;
                        justify-content: flex-start;
                        margin-left: -.5rem;
                    }

                    &>li:last-child {
                        margin-right: -.5rem;
                    }
                }
            }
        }

        footer {
            border-top: solid 1px #c8ccd1;
            overflow: auto;
            padding-bottom: .5rem;
            background-color: #eaecf0;

            .last-modified {
                display: block;
                border-bottom: solid 1px #c8ccd1;
                color: #72777d;
                padding: .75rem 1rem;
                font-size: 0.875rem;
                transition: background-color 250ms, color 250ms;

                .last-mod-inner-wrapper {

                    margin: auto;
                    display: flex;
                    align-items: center;

                    .clock::before {
                        background-image: linear-gradient(transparent, transparent), url("/images/history.svg");
                    }

                    span {
                        flex-grow: 1;
                        margin-left: 1.25rem;
                    }

                    .chevron-footer::before {
                        background-image: linear-gradient(transparent, transparent), url("/images/chevron-footer.svg");
                        transform: rotate(-90deg);
                    }
                }
            }

            .footer-content {
                margin: 0 1rem;
                margin-top: 2.625rem;
                overflow: auto;

                .footer-site-title {
                    border-bottom: solid 1px #c8ccd1;
                    padding-bottom: .625rem;
                    margin-bottom: 0.5625rem;
                    font-weight: bold;
                }

                .footer-menu {
                    font-size: 0.875em;
                }
            }

        }
    }
}

@media only screen and (min-width: 600px) and (max-width: 1199px) {
    body {
        header {
            .mobile-header {
                margin-left: auto;
                margin-right: auto;
                width: calc(90% + 1rem);
            }
        }

        main {
            margin-left: auto;
            margin-right: auto;
            width: 90%;
        }

        .home-main {
            #content {
                .panels {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;

                    .panel {
                        width: calc(50% - 1.5rem);
                    }

                    .full-width {
                        width: 100%;
                    }
                }
            }
        }

        .single-main {
            .mobile-single-top-bar {
                &>ul {
                    li {
                        a {
                            font-size: inherit;
                            .lang, .download, .edit {margin-right: .5rem;}
                        }
                        .inactive-link {
                            cursor: inherit;
                            opacity: .25;
                        }
                    }
                }
            }
        }

        footer {
            .last-modified {
                padding-left: 0;
                padding-right: 0;

                .last-mod-inner-wrapper {
                    margin-left: auto;
                    margin-right: auto;
                    width: 90%;
                }
            }

            .footer-content {
                margin-left: auto;
                margin-right: auto;
                width: 90%;
            }
        }
    }
}

@media only screen and (min-width: 1200px) {
    body {
        background: url("/images/background.png") #f6f6f6 top left no-repeat;
        background-size: 1400px 200px;

        header {}

        main {
            #content {}
        }

        footer {}
    }
}