$icon-small: 1rem;
$icon-xs: .7rem;

body {
    margin: 0;
    font-family: -apple-system, blinkmacsystemfont, segoe ui, roboto, lato, helvetica, arial, sans-serif;
    line-height: 1.4;
    background-color: #ffffff;
    color: #202122;
    margin: 0;

    noscript {
        text-align: center;
    }

    a {
        color: #3366cc;
        text-decoration: none;
        background: none;
    }

    ul,
    li,
    ol,
    div,
    span,
    blockquote,
    pre,
    a,
    acronym,
    address,
    big,
    cite,
    code,
    del,
    ins,
    em,
    img,
    small,
    strike,
    strong,
    tt,
    b,
    u,
    i,
    center,
    dl,
    dt,
    dd,
    fieldset,
    form,
    label,
    legend,
    input,
    button,
    select,
    audio,
    video {
        margin: 0;
        padding: 0;
        border: 0;
        font: inherit;
        font-size: 100%;
        vertical-align: baseline;
        background: none;
    }

    p {
        margin-top: 0;
    }

    h1 {
        font-size: 1.7em;
        font-weight: normal;
    }
    img, svg {
        max-width: 100%;
        height: auto;
    }
    .icon::before {
        content: '';
        display: inline-block;
        width: 1.25em;
        height: 1.25em;
        background-repeat: no-repeat;
        background-size: 1.25em 1.25em;
        background-position: center;
    }

    .icon {
        color: #54595d;
        font-size: initial;
        position: relative;
        display: inline-block;
        box-sizing: content-box !important;
        width: 1.25em;
        height: 1.25em;
        min-width: 1.25em;
        min-height: 1.25em;
        flex-basis: 1.25em;
        vertical-align: middle;
        line-height: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        background-color: transparent;
        margin: 0;
        padding: 0;
    }

    .icon-small:before {
        content: '';
        display: inline-block;
        min-width: 1em;
        min-height: 1em;
        background-repeat: no-repeat;
        background-size: 1em 1em;
        background-position: center;
    }

    .icon-small {
        width: $icon-small;
        height: $icon-small;
        min-width: $icon-small;
        min-height: $icon-small;
        flex-basis: $icon-small;
        line-height: $icon-small;
    }
    .icon-xs:before {
        content: '';
        display: inline-block;
        min-width: $icon-xs;
        min-height: $icon-xs;
        background-repeat: no-repeat;
        background-size: $icon-xs $icon-xs;
        background-position: center;
    }
    .icon-xs {
        width: $icon-xs;
        height: $icon-xs;
        min-width: $icon-xs;
        min-height: $icon-xs;
        flex-basis: $icon-xs;
        line-height: $icon-xs;
    }

    .button {
        background-color: #f8f9fa;
        color: #202122;
        display: inline-block;
        box-sizing: border-box;
        margin: 0;
        border: 1px solid #a2a9b1;
        border-radius: 2px;
        cursor: pointer;
        vertical-align: middle;
        font-family: inherit;
        font-size: 1rem;
        font-weight: bold;
        line-height: 1.28571429rem;
        text-align: center;
        min-height: 32px;
        min-width: 4rem;
        max-width: 28.75em;
        padding: 5px 12px;
    }

    .button:not(:disabled) {
        transition: background-color 100ms, color 100ms, border-color 100ms, box-shadow 100ms;
    }

    .button:not(:disabled):active {
        background-color: #c8ccd1;
        color: #000000;
        border-color: #72777d;
        box-shadow: none;
    }

    .button:not(:disabled):hover {
        background-color: #ffffff;
        color: #404244;
        border-color: #a2a9b1;
    }

    .button:not(:disabled):focus {
        color: #202122;
        border-color: #3366cc;
        box-shadow: inset 0 0 0 1px #3366cc, inset 0 0 0 2px #ffffff;
        outline-width: 0;
    }

    .hidden {
        display: none;
    }

    .external-link {
        display: none;
    }
    .external-link:before {
        background-image: linear-gradient(transparent, transparent), url("/images/external-link.svg");
    }
    
    #single-main {
        h2 {
            font-family: 'Linux Libertine', 'Georgia', 'Times', serif;
            font-weight: 500;
        }
        li {
            .external-link {
                 display: inline-block;
            }
        }
    }

    #home-main {
        .home-top-panel {
            margin-bottom: .5rem;
            text-align: center;
            background-color: #f9f9f9;
            border: 1px solid #ddd;
            padding: 1rem;

            &>*:last-child,
            &>*:nth-last-child(2) {
                margin-top: .5rem;
            }

            .panel-inner-wrapper {
                width: 100%;
                font-size: 160%;
                color: #000;
                padding: .1rem;
            }

            .article-count {
                font-size: 85%;
            }
        }

        #content {
            background-color: #ffffff;
            border-top: 1px solid transparent;

            .panels {
                margin-bottom: -.5rem;

                .panel {
                    padding: .5em;
                    margin-bottom: .5rem;

                    .panel-title {
                        margin-bottom: .5em;
                        padding: 0.2em 0.4em;
                        font-weight: bold;
                        font-size: 120%;
                    }

                    .panel-content {
                        &>p:last-child {
                            margin-bottom: 0;
                        }

                        ul {
                            padding-left: 2rem;
                        }
                    }
                }
            }

            .fig-wrapper {
                margin: auto;

                .fig {
                    max-width: 100%;
                    height: auto;
                }

                .fig-caption {
                    font-size: .8125em;
                }
            }
        }
    }

    #content {
        ol {
            display: block;
            list-style-type: decimal;
            padding-left: 2rem;
        }

        ul {
            display: block;
            list-style-type: disc;
            padding-left: 2rem;
        }

        li {
            display: list-item;
        }
    }
}

@media only screen and (max-width: 1199px) {
    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;

        header {
            background-color: #eaecf0;
            border: 0;
            box-shadow: inset 0 -1px 3px #00000014;
            margin-bottom: .5rem;

            .mobile-header {
                margin: 0 .5rem;
                height: 3.375em;
                display: flex;
                align-items: center;
                justify-content: space-between;

                #left-wrapper {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;

                    #nav-button-wrapper {
                        #menu-input {
                            position: absolute;
                            z-index: -1;
                            opacity: 0;
                        }

                        .hamb::before {
                            background-image: linear-gradient(transparent, transparent), url("/images/menu.svg");
                        }

                        .hamb {
                            cursor: pointer;
                            padding: .5rem;
                        }

                        #menu-list {
                            min-width: 20rem;
                            position: fixed;
                            top: 0;
                            left: 0;
                            bottom: 0;
                            opacity: 0;
                            visibility: hidden;
                            max-width: 80%;
                            z-index: 2;
                            overflow-y: auto;
                            background-color: #eaecf0;
                            box-shadow: 0 5px 17px 0 #0000003d, 0 0 1px #a2a9b1;
                            transform: translate(-100%, 0);
                            transition: opacity 150ms ease-in-out, visibility 150ms ease-in-out, transform 150ms ease-in-out;

                            .main-list {
                                padding-bottom: 1.375rem;
                                list-style: none;

                                li {
                                    background-color: #fff;
                                    position: relative;
                                    border-top: 1px solid #eaecf0;
                                    margin-top: -1px;

                                    a {
                                        color: #54595d;
                                        max-width: 100%;
                                        padding: .75rem 0.625rem .75rem 0.9375rem;
                                        overflow: hidden;
                                        text-overflow: ellipsis;
                                        white-space: nowrap;
                                        display: flex;
                                        align-items: center;
                                        font-weight: bold;

                                        i {
                                            margin-right: .5rem;
                                        }

                                        .home:before {
                                            background-image: linear-gradient(transparent, transparent), url("/images/home.svg");
                                        }

                                        .random:before {
                                            background-image: linear-gradient(transparent, transparent), url("/images/die.svg");
                                        }

                                        .random:before,
                                        .home:before {
                                            display: inline-block;
                                            font-size: initial;
                                            width: auto;
                                            min-width: 1.25rem;
                                            min-height: 1.25rem;
                                            vertical-align: middle;
                                        }

                                    }
                                }
                            }

                            .menu-footer-list {
                                padding-bottom: 1.375rem;
                                list-style: none;

                                li {
                                    background-color: transparent;
                                    border: 0;
                                    margin: 0;
                                    font-size: .75rem;
                                    display: inline-block;

                                    a {
                                        font-weight: bold;
                                        padding: 0.7rem .75rem;
                                        max-width: 100%;
                                        overflow: hidden;
                                        text-overflow: ellipsis;
                                        white-space: nowrap;
                                    }
                                }
                            }
                        }

                        #menu-input:checked~#menu-list {
                            visibility: visible;
                            opacity: 1;
                            box-shadow: 1px 0 8px 0 #00000059;
                            transform: translate(0, 0)
                        }

                        #main-menu-input:checked~#menu-list {
                            visibility: visible;
                            box-shadow: 1px 0 8px 0 #00000059;
                            transform: translate(0, 0)
                        }

                        .menu-mask {
                            position: fixed;
                            top: 0;
                            left: 0;
                            right: 0;
                            opacity: 0;
                            bottom: 0;
                            background: #000000cc;
                            z-index: 1;
                            visibility: hidden;
                            transition: opacity 100ms ease-in-out, visibility 0ms linear 100ms;
                            display: none;
                        }

                        #menu-input:checked~.menu-mask {
                            visibility: visible;
                            opacity: .5;
                            transition: opacity 100ms ease-in-out;
                            display: block;
                        }


                    }

                    &>a {
                        margin-left: 0.5rem;
                        font-weight: normal;
                        text-decoration: none;
                        color: #202122;
                        opacity: .66;
                    }
                }

                .mag::before {
                    background-image: linear-gradient(transparent, transparent), url("/images/search.svg");
                }

                .mag {
                    cursor: pointer;
                    padding: .5rem;
                }
            }
        }

        main {
            flex: 1 0 auto;
            margin: 0 1rem;
            margin-bottom: 2rem;

            .outer-header {
                font-family: linux libertine, georgia, times, serif;
                margin-bottom: .6875rem;
            }
            .mobile-single-top-bar {
                border-top: 1px solid #eaecf0;
                border-bottom: 1px solid #c8ccd1;
                margin-bottom: .5rem;

                &>ul {
                    display: flex;
                    height: 3rem;
                    justify-content: space-between;

                    li {
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;
                        overflow: hidden;

                        a,
                        span {
                            display: flex;
                            align-items: center;
                            color: #54595d;
                            padding: 0.75rem;
                            cursor: pointer;
                            font-size: 0;

                            .lang::before {
                                background-image: linear-gradient(transparent, transparent), url("/images/language.svg");
                            }

                            .download::before {
                                background-image: linear-gradient(transparent, transparent), url("/images/download.svg");
                            }

                            .edit::before {
                                background-image: linear-gradient(transparent, transparent), url("/images/edit.svg");
                            }
                        }
                    }

                    &>li:first-child {
                        flex-grow: 1;
                        justify-content: flex-start;
                        margin-left: -.5rem;
                    }

                    &>li:last-child {
                        margin-right: -.5rem;
                    }
                }
            }
            #content {
                p {
                    margin: .5rem 0 1rem;
                }

                #toc {
                    padding: 0.2em 0.5em;
                    margin: .5em 0;
                    background-color: #f8f9fa;
                    border: solid 1px #eaecf0;
                    display: none;

                    h2 {
                        font-size: 1.125rem;
                        border: none;
                        display: flex;
                        align-items: center;
                        margin: 0;
                        padding: 0;
                    }

                    nav {
                        padding-left: 2.5rem;
                    }
                }
            }
        }

        #single-main {
            h2 {
                margin-top: 0;
                border-bottom: 1px solid #eaecf0;
                margin-bottom: 0.5em;
                clear: left;
                cursor: pointer;
                padding: .5rem 0;

                .chevron-h2 {
                    color: #202122;
                    padding: .5rem;
                }

                .chevron-h2::before {
                    background-image: linear-gradient(transparent, transparent), url(/images/chevron-h2.svg);
                }

                .toc-icon::before {
                    background-image: linear-gradient(transparent, transparent), url(/images/list.svg);
                }

                .toc-icon {
                    padding: .5rem;
                }
            }
        }

        footer {
            border-top: solid 1px #c8ccd1;
            overflow: auto;
            padding-bottom: .5rem;
            background-color: #eaecf0;

            flex-shrink: 0;

            .last-modified:visited {
                color: #72777d;
            }

            .last-modified {
                display: block;
                border-bottom: solid 1px #c8ccd1;
                color: #72777d;
                padding: .75rem 1rem;
                font-size: 0.875rem;
                transition: background-color 250ms, color 250ms;

                .last-mod-inner-wrapper {

                    margin: auto;
                    display: flex;
                    align-items: center;

                    .clock::before {
                        background-image: linear-gradient(transparent, transparent), url("/images/history.svg");
                    }

                    span {
                        flex-grow: 1;
                        margin-left: 1.25rem;
                    }

                    .chevron-footer::before {
                        background-image: linear-gradient(transparent, transparent), url("/images/chevron-footer.svg");
                        transform: rotate(-90deg);
                    }
                }
            }

            .footer-content {
                margin: 0 1rem;
                margin-top: 2.625rem;
                overflow: auto;

                .footer-site-title {
                    border-bottom: solid 1px #c8ccd1;
                    padding-bottom: .625rem;
                    margin-bottom: 0.5625rem;
                    font-weight: bold;
                }

                .footer-menu {
                    font-size: 0.875em;
                }
            }

        }
    }
}

@media only screen and (min-width: 600px) and (max-width: 1199px) {
    body {
        header {
            .mobile-header {
                margin-left: auto;
                margin-right: auto;
                width: calc(95% + 1rem);
            }
        }

        main {
            margin-left: auto;
            margin-right: auto;
            width: 90%;
        }

        #single-main {
            .mobile-single-top-bar {
                &>ul {
                    li {
                        a {
                            font-size: 100%;

                            i {
                                margin-right: .5rem;
                            }
                        }
                        .inactive-link {
                            opacity: .25;
                        }
                    }
                }
            }
        }

        #home-main {
            .panels {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;

                .panel {
                    width: calc(50% - 1.5rem);
                }

                .full-width {
                    width: 100%;
                }
            }
        }

        main {
            #content {
                #toc {
                    display: inline-block;
                }
            }
        }

        footer {
            .last-modified {
                padding-left: 0;
                padding-right: 0;

                .last-mod-inner-wrapper {
                    margin-left: auto;
                    margin-right: auto;
                    width: 90%;
                }
            }

            .footer-content {
                margin-left: auto;
                margin-right: auto;
                width: 90%;
            }
        }
    }
}

@media only screen and (min-width: 1200px) {
    body {
        background: url("/images/background.png") #f6f6f6 top left no-repeat;
        background-size: 1400px 200px;

        header {}

        #single-main {
            h2 {
                .chevron-h2 {
                    display: none;
                }
            }
        }

        main {
            #content {}
        }

        footer {}
    }
}
