{{- /* This comment removes trailing newlines. */ -}}
{{- $hashttp := strings.HasPrefix .Destination "http" -}}
{{- $id := (default .Text .Title) | plainify | anchorize -}}
<a href="{{- .Destination | safeURL -}}" id="{{- $id -}}"{{- if $hashttp -}} target="_blank" rel="noopener noreferrer"{{- end -}} class="{{- if not .Destination -}}empty-link{{- end -}}">
    {{- if not .Text -}}
    {{- .Destination | safeURL -}}
    {{- else -}}
    {{- .Text | safeHTML -}}
    {{- end -}}
    {{- if $hashttp -}}
    <i class="icon-xs external-link"></i>
    {{- end -}}
</a>
{{- /* This comment removes trailing newlines. */ -}}
