{{- /* This comment removes trailing newlines. */ -}}
{{- $hashttp := strings.HasPrefix .Destination "http" -}}
<a href="{{- .Destination | safeURL -}}"{{- with .Title -}} title="{{- . -}}"{{- end -}}{{- if $hashttp -}} target="_blank" rel="noopener noreferrer"{{- end -}} class="{{- if not .Destination -}}empty-link{{- end -}}{{- if eq .Text "Página Aleatória" -}} random{{- end -}}">
    {{- if not .Text -}}
    {{- .Destination | safeURL -}}
    {{- else -}}
    {{- .Text | safeHTML -}}
    {{- end -}}
    {{- if $hashttp -}}
    <i class="icon-xs external-link"></i>
    {{- end -}}
</a>

{{- if not .Destination -}}
{{- .Page.Scratch.Add "missing-links" (slice .Text ) -}}
{{ if .Page.IsHome }}
{{- .Page.Scratch.Add "missing-links" (slice "teste" ) -}}
{{ end }}
{{- end -}}

{{- /* This comment removes trailing newlines. */ -}}
