{{- /* This comment removes trailing newlines. */ -}}
{{- $class := .Title | plainify | anchorize -}}
{{- $hashttp := strings.HasPrefix .Destination "http" -}}
{{- $isinternal := strings.HasPrefix .Destination "/" -}}
{{ $exists := false }}
{{- if $isinternal -}}
    {{- with site.GetPage .Destination -}}
    {{- $exists = true -}}
    {{- end -}}
{{- end -}}

<a href="{{- .Destination | safeURL -}}"{{- if $hashttp -}} target="_blank" rel="noopener noreferrer"{{- end -}} class="{{ $class }}{{ if and $isinternal (not $exists) }} empty-link{{ end }}">
    {{- if not .Text -}}
        {{- .Destination | safeURL -}}
    {{- else -}}
        {{- .Text | safeHTML -}}
    {{- end -}}
</a>

{{- /* This comment removes trailing newlines. */ -}}
