<div class="mobile-header">
    <input type="checkbox" id="search-toggle" role="button">
    <div id="left-wrapper">
        <div id="nav-button-wrapper">
            <input type="checkbox" id="menu-input" role="button">
            <label class="icon hamb" id="hamb-label" for="menu-input"></label>
            <div id="menu-list">
                {{ partial "menu.html" (dict "menuname" "mobile_sidebar" "context" .) }}

                {{ partial "menu.html" (dict "menuname" "footer" "context" .) }}
            </div>
            <label class="menu-mask" for="menu-input"></label>
        </div>
        <a href="/">{{ .Site.Title }}</a>
    </div>
    <form action="" id="query-label" autocomplete="off">
        <input type="text" name="s" placeholder="Buscar na {{ .Site.Title }}" id="search-query-mobile"
            autocomplete="off">
    </form>
    <label class="icon mag" id="search-label" for="search-toggle"></label>
</div>