<div class="mobile-header">
    <div id="left-wrapper">
        <div id="nav-button-wrapper">
            <input type="checkbox" id="menu-input" role="button">
            <label class="icon hamb" id="hamb-label" for="menu-input"></label>
            <div id="menu-list">
                {{ with .Site.Data.menus.mobile_sidebar }}
                {{ range $menu, $item := . }}
                <ul class="main-list">

                    {{ range sort $item "weight"}}
                    <li><a href="{{ .url }}" {{ with .params.class }}class="{{ . }}" {{ end }}>{{ .pre | safeHTML }}{{
                            .name }}</a></li>
                    {{ end }}

                </ul>
                {{ end }}
                {{ end }}

                {{ with .Site.Data.menus.footer }}
                <ul class="menu-footer-list">
                    {{ range . }}
                    <li><a href="{{ .url }}">{{ .pre | safeHTML }}{{ .name }}</a></li>
                    {{ end }}
                </ul>
                {{ end }}
            </div>
            <label class="menu-mask" for="menu-input"></label>
        </div>
        <a href="/">{{ .Site.Title }}</a>
    </div>
    <i class="icon mag"></i>
</div>
