<footer>
    {{ with .File }}
    {{ $editlink := printf "%s/commits/main/content/%s" ($.Site.Params.repo_link) (replace .Path "\\" "/") }}
    <a href="{{ $editlink }}" class="last-modified" target="_blank" rel="noopener noreferrer">
        <div class="last-mod-inner-wrapper">
            <i class="icon clock"></i>
            <span>Ver histório de edições desta página.</span>
            <i class="icon chevron-footer"></i>
        </div>
    </a>
    {{ end }}
    <div class="footer-content">
        <div class="footer-site-title">{{ .Site.Title }}</div>
        {{- with sort .Site.Data.menus.footer "weight" -}}
        <div class="footer-menu">
            {{ $.Page.RenderString .content }}
        </div>
        {{- end -}}
    </div>
    
    {{ $random := resources.Get "/js/random.js" | resources.ExecuteAsTemplate "/js/random.js" . | resources.Fingerprint "sha512" }}
    <script type="text/javascript" src="{{ $random.RelPermalink }}" integrity="{{ $random.Data.Integrity }}" type="module" defer></script>
    {{ if eq .Page.Kind "page" }}
    {{ $collapse := resources.Get "/js/collapse.js" | resources.Fingerprint "sha512" }}
    <script type="text/javascript" src="{{ $collapse.RelPermalink }}" integrity="{{ $collapse.Data.Integrity }}" type="module" defer></script>
    {{ end }}
</footer>
