<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {{ if templates.Exists "partials/tnd-seo/tags.html" }}
      {{ partial "tnd-seo/tags.html" . }}
    {{ end }}
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    
    {{ $styles := resources.Get "/css/styles.scss" | resources.ExecuteAsTemplate "styles.scss" . | resources.ToCSS | resources.Minify | resources.Fingerprint "sha512" }}
    <link rel="stylesheet" href="{{ $styles.Permalink }}" integrity="{{ $styles.Data.Integrity }}">
</head>
