{{ $target := .target }}
{{ $taxonomy := .taxonomy }}
{{ $existingterms := .existingterms }}
{{ $scratch := newScratch }}

{{ range $key, $item := .start }}
    {{ if eq $key $target }}
        {{ $scratch.Add "targeted branch" $item }}
        {{ break }}
    {{ end }}
    {{- partial "functions/list-subterms.html" (dict "start" $item "target" $target "taxonomy" $taxonomy "existingterms" $existingterms) -}}
{{ end }}

{{ range $key, $item := ($scratch.Get "targeted branch") }}
    {{ range $existingterms }}
        {{ if eq (lower $key) . }}
            <a href="/{{ $taxonomy | urlize }}/{{ $key | urlize }}">{{ $key }}</a><br>
        {{ end }}
    {{ end }}
{{ end }}