{{ $target := .target }}
{{ $taxonomy := .taxonomy }}
{{ $existingterms := .existingterms }}
{{ $scratch := newScratch }}

{{ range $key, $item := .start }}
    {{ if eq $key $target }}
        {{ $scratch.Add "targeted branch" $item }}
        {{ break }}
    {{ end }}
    {{- partial "functions/list-subterms.html" (dict "start" $item "target" $target "taxonomy" $taxonomy "existingterms" $existingterms) -}}
{{ end }}

{{ $targetedbranch := $scratch.Get "targeted branch" }}
{{ with $targetedbranch }}
{{ range $key, $item := . }}
    {{ range $existingterms }}
        {{ if eq (lower $key) . }}
            {{ $scratch.Add "final list" (slice $key) }}
        {{ end }}
    {{ end }}
{{ end }}
{{ end }}


{{ with ($scratch.Get "final list") }}
<p>The following {{ len . }} {{ $taxonomy }} are in this sub{{ $taxonomy }}</p>
{{ range $i, $j := . }}
<a href="/{{ $taxonomy | urlize }}/{{ $j | urlize }}">{{ $j }}</a><br>
{{ end }}
{{ end }}
