{{ $target := .target }}
{{ $taxonomy := .taxonomy }}
{{ $scratch := newScratch }}
{{ range $key, $item := .start }}
    {{ if eq $key $target }}
        {{ $scratch.Add "targeted branch" $item }}
        {{ break }}
    {{ end }}
    {{- partial "functions/list-subterms2.html" (dict "start" $item "target" $target "taxonomy" $taxonomy) -}}
{{ end }}

{{ range $key, $item := ($scratch.Get "targeted branch") }}
    <a href="{{ $taxonomy | urlize }}/{{ $key | urlize }}">{{ $key }}</a><br>
{{ end }}