{{ define "main" }}
<div class="home-content">
  {{ .Content }}
</div>
{{ with .Page.Params.panels }}
<div class="panels">
  {{ range sort . "weight" }}
  <div class="panel{{ if .isfullwidth }} full-width{{ end }}"
    style="border: 1px solid {{ .border_color }}; background: {{ .background_color }}">
    <div class="panel-title"
      style="border: 1px solid {{ .title_border_color }}; background: {{ .title_background_color }}">{{ safeHTML ($.Page.RenderString .title) }}
    </div>
    <div class="panel-content">
      {{ safeHTML ($.Page.RenderString .content) }}
    </div>
  </div>
  {{ end }}
</div>
{{ end }}
{{ end }}