{{ define "main" }}
<div class="home-content">
  {{ .Content }}
</div>
{{ with $.Site.Data.home_panels }}
<div class="panels">
  {{ with .featured_article }}
  {{ range sort .panels "weight" }}
  <div class="panel{{ if .isfullwidth }} full-width{{ end }}"
    style="border: 1px solid {{ .border_color }}; background: {{ .background_color }}">
    <div class="panel-title"
      style="border: 1px solid {{ .title_border_color }}; background: {{ .title_background_color }}">{{ safeHTML ($.Page.RenderString .title) }}
    </div>
    <div class="panel-content">
      {{ safeHTML ($.Page.RenderString .content) }}
    </div>
  </div>
  {{ end }}
  {{ end }}
</div>
{{ end }}
{{ end }}